<ion-header>

  <ion-navbar>
    <ion-title>nouveauCompte</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
    <ion-list inset>

      <ion-item>
       <!-- <ion-item name="md-contact" item-start></ion-item> -->
        <ion-label stacked>Nom :</ion-label>
        <ion-input type ="text"[(ngModel)]="nom"></ion-input>
      </ion-item>

      <ion-item>
        <ion-label stacked>Prenom :</ion-label>
        <ion-input type ="text"[(ngModel)]="prenom"></ion-input>
      </ion-item>

      <ion-item>
        <!--  <ion-item name="md-at" item-start></ion-item> -->
        <ion-label stacked>Adresse de contact :</ion-label>
        <ion-input type="email" [(ngModel)]="mail"></ion-input>
      </ion-item>

    </ion-list>
      <ion-item>
        <ion-label >Asso(s)</ion-label>
        <ion-select  [(ngModel)]="assos" multiple="true" cancelText="retour" okText="Valider"> <!--  -->
          <ion-option *ngFor="let asso of listAssos" value="{{asso}}">{{asso.nom}}</ion-option>
        </ion-select>
      </ion-item>

      <ion-item>
        <button ion-button *ngIf="modeGerant" (click)="AjouterAssos()">Ajouter votre association</button>
      </ion-item>

    </ion-content>
    <ion-footer style="padding-bottom: 10em" text-center>
        <button ion-button large full (click)="inscription(nom,prenom,mail,assos)">S'inscrire</button>
        <button ion-button clear (click)="pageAdmin()" text-center>Vous êtes gérant d'une association ?</button>
    </ion-footer>
      


    
    



